<div class="alert <?php echo (getenv("GOOGLE_CLOUD_PROJECT", true) && file_exists(getenv("GOOGLE_APPLICATION_CREDENTIALS", true)) ? "alert-success" : "alert-danger"; ?>" role="alert">
  step 1) used local service credentials for cloud datastore access
</div>

<?php
//build the builder
$scopes = [\Google_Service_Gmail::GMAIL_READONLY];
$builder = new GoogleClientBuilder(new \Google_Client(), SecretDataStore::create());
$builder->authenticateClient("test app", $scopes, 'GMAIL_READONLY');

 ?>
 <div class="alert <?php echo ($gclient = $builder->getClient()) ? "alert-success" : "alert-danger"; ?>" role="alert">
   step 2) created an authenticated and scoped Google Client from datastore credentials/local credentials
 </div>
 <div class="alert <?php echo ($gmail = GmailService::create($gclient, 'me')) ? "alert-success" : "alert-danger"; ?>" role="alert">
   step 3) created Gmail Service with our google client
 </div>

 <div class="container">
 <?php

 //get email
 $result = $gmail->getList($page_token);
 $messages = array_merge($messages, $result['messages']);
 $page_token = $result['nextPageToken'];

 //loop out the results
 foreach ($messages as $msg) {

   echo '
 <div class="row">
   <div class="col-md-auto">',
     $msg['message']['Received'],
   '</div>
   <div class="col-md-auto">
     subject
   </div>
 </div>'';
 }
 ?>
